<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>continent</key>
		<string>Africa</string>
		<key>countries</key>
		<array>
			<dict>
				<key>country</key>
				<string>Ai Cập</string>
				<key>capital</key>
				<string>Cairo</string>
				<key>flag</key>
				<string>aicap.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Libya</string>
				<key>capital</key>
				<string>Tripoli</string>
				<key>flag</key>
				<string>libya.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Tunisia</string>
				<key>capital</key>
				<string>Tunis</string>
				<key>flag</key>
				<string>tunisia.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Algérie</string>
				<key>capital</key>
				<string>Algiers</string>
				<key>flag</key>
				<string>algeria.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Maroc</string>
				<key>capital</key>
				<string>Rabat</string>
				<key>flag</key>
				<string>morocco.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Asia</string>
		<key>countries</key>
		<array>
			<dict>
				<key>country</key>
				<string>Viet Nam</string>
				<key>capital</key>
				<string>Ha Noi</string>
				<key>flag</key>
				<string>vietNam.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Laos</string>
				<key>capital</key>
				<string>Vientiane</string>
				<key>flag</key>
				<string>laos.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Cambodia</string>
				<key>capital</key>
				<string>Phnom Penh</string>
				<key>flag</key>
				<string>Cambodian.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>North Korea</string>
				<key>capital</key>
				<string>Pyongyang</string>
				<key>flag</key>
				<string>northKorea.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Singapore</string>
				<key>capital</key>
				<string>Singapore</string>
				<key>flag</key>
				<string>singapore.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>EU</string>
		<key>countries</key>
		<array>
			<dict>
				<key>country</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Tazania</string>
				<key>capital</key>
				<string>Loboto</string>
				<key>flag</key>
				<string>tanzania.png</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>America</string>
		<key>countries</key>
		<array>
			<dict>
				<key>country</key>
				<string>America</string>
				<key>capital</key>
				<string>Washington</string>
				<key>flag</key>
				<string>America</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Brazill</string>
				<key>capital</key>
				<string>brasilia</string>
				<key>flag</key>
				<string>brasilia.jpg</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Cuba</string>
				<key>capital</key>
				<string>La Habana</string>
				<key>flag</key>
				<string>Cuba</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Argentina</string>
				<key>capital</key>
				<string>Buenos Aires</string>
				<key>flag</key>
				<string>argentina</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Canada</string>
				<key>capital</key>
				<string>Ottawa</string>
				<key>flag</key>
				<string>Canada</string>
			</dict>
		</array>
	</dict>
	<dict>
		<key>continent</key>
		<string>Oceania</string>
		<key>countries</key>
		<array>
			<dict>
				<key>country</key>
				<string>Australia</string>
				<key>capital</key>
				<string>Canberra</string>
				<key>flag</key>
				<string>australia.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>New Zealand</string>
				<key>capital</key>
				<string>Wellington</string>
				<key>flag</key>
				<string>newzealand.png</string>
			</dict>
			<dict>
				<key>country</key>
				<string>Papua New Guinea</string>
				<key>capital</key>
				<string>Port Moresby</string>
				<key>flag</key>
				<string>PNG.png</string>
			</dict>
		</array>
	</dict>
</array>
</plist>
